# opDB API implementation test using SQLAlchemy + Pandas

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import sys
import numpy as np
import datetime
import pandas as pd

In [2]:
from opdb import models,utils,opdb

In [3]:
hostname=''
port=''
dbname='opdb_api_test'
username='pfs'
passwd=None

In [4]:
url='postgresql://%s:%s@%s:%s/%s' % (username, passwd, hostname, port, dbname)

**You need to do the following SQL commands before you run the usage**

DELETE FROM sps_annotation WHERE pfs_visit_id=120982;

DELETE FROM visit_set WHERE visit_set_id=10634;

DELETE FROM sps_sequence WHERE visit_set_id=10634;

DELETE FROM sps_exposure WHERE pfs_visit_id BETWEEN 120981 AND 120983;

DELETE FROM sps_visit WHERE pfs_visit_id BETWEEN 120981 AND 120983;

DELETE FROM pfs_visit WHERE pfs_visit_id BETWEEN 120981 AND 120983;

## usage for SpS

### insert into `pfs_visit` & `sps_visit`

#### use opDB instance directly

In [5]:
db = opdb.OpDB(hostname, port, dbname, username, passwd)
db.connect()

In [6]:
df = pd.DataFrame({'pfs_visit_id': [120981, 120982, 120983], 'pfs_visit_description': ['test', 'test', 'test']})
db.insert('pfs_visit', df)

In [7]:
df = pd.DataFrame({'pfs_visit_id': [120981, 120982, 120983], 'exp_type': ['test', 'test', 'test']})
db.insert('sps_visit', df)

In [8]:
db.close()

#### or use utils (one-liner usage)

In [9]:
utils.insert(url, 'pfs_visit', pd.DataFrame({'pfs_visit_id': [120981, 120982, 120983], 'pfs_visit_description': ['test', 'test', 'test']}))

transaction error

0

In [10]:
utils.insert(url, 'sps_visit', pd.DataFrame({'pfs_visit_id': [120981, 120982, 120983], 'exp_type': ['test', 'test', 'test']}))

transaction error

0

### insert into `sps_exposure`

#### use opDB instance directly

In [11]:
db = opdb.OpDB(hostname, port, dbname, username, passwd)
db.connect()

In [12]:
now = datetime.datetime.now()
df = pd.DataFrame({'pfs_visit_id': [120981, 120982, 120983, 120981, 120982, 120983], 
                   'sps_camera_id': [1, 1, 1, 2, 2, 2], 
                   'exptime': [0., 0., 0., 0., 0., 0.],
                   'time_exp_start': [now, now, now, now, now, now],
                   'time_exp_end': [now, now, now, now, now, now]
                  })
db.insert('sps_exposure', df)

In [13]:
db.close()

#### or use utils (one-liner usage)

In [14]:
now = datetime.datetime.now()
df = pd.DataFrame({'pfs_visit_id': [20981, 20982, 20983, 20981, 20982, 20983], 
                   'sps_camera_id': [1, 1, 1, 2, 2, 2], 
                   'exptime': [0., 0., 0., 0., 0., 0.],
                   'time_exp_start': [now, now, now, now, now, now],
                   'time_exp_end': [now, now, now, now, now, now]
                  })

In [15]:
utils.insert(url, 'sps_exposure', df)

transaction error

0

### insert into `sps_sequence` & `visit_set`

#### use opDB instance directly

In [16]:
db = opdb.OpDB(hostname, port, dbname, username, passwd)
db.connect()

In [17]:
df = pd.DataFrame({'visit_set_id': [10634], 
                   'sequence_type': ['test'], 
                   'name': ['test'],
                   'comments': ['None'],
                   'cmd_str': ['None'],
                   'status' : ['complete']
                  })
db.insert('sps_sequence', df)

In [18]:
df = pd.DataFrame({'pfs_visit_id': [120981, 120982, 120983], 'visit_set_id': [10634, 10634, 10634]})
db.insert('visit_set', df)

In [19]:
db.close()

#### or use utils (one-liner usage)

In [20]:
df = pd.DataFrame({'visit_set_id': [10634], 
                   'sequence_type': ['test'], 
                   'name': ['test'],
                   'comments': ['None'],
                   'cmd_str': ['None'],
                   'status' : ['complete']
                  })

In [21]:
utils.insert(url, 'sps_sequence', df)

transaction error

0

In [22]:
df = pd.DataFrame({'pfs_visit_id': [120981, 120982, 120983], 'visit_set_id': [10634, 10634, 10634]})

In [23]:
utils.insert(url, 'visit_set', df)

transaction error

0

### fetch `visit_set.visit_set_id`

#### use opDB instance directly

In [24]:
db = opdb.OpDB(hostname, port, dbname, username, passwd)
db.connect()

In [25]:
df = db.fetch_all('sps_sequence')

In [26]:
df[-5:]

,visit_set_id,sequence_type,name,comments,cmd_str,status
331,631,biases,cplTest,FITS,"bias duplicate=1 name=""cplTest"" comments=""FITS""",complete
332,632,biases,cplTest,FITS,"bias duplicate=2 name=""cplTest"" comments=""FITS""",complete
333,633,biases,cplTest,stability new Gen2,"bias duplicate=100 name=""cplTest"" comments=""st...",complete
334,634,biases,cplTest,stalility new Gen2,"bias duplicate=200 name=""cplTest"" comments=""st...",complete
335,10634,test,test,None,None,complete

In [27]:
db.close()

#### or use utils (one-liner usage)

In [28]:
df = utils.fetch_all(url, 'sps_sequence')

In [29]:
df[-5:]

,visit_set_id,sequence_type,name,comments,cmd_str,status
331,631,biases,cplTest,FITS,"bias duplicate=1 name=""cplTest"" comments=""FITS""",complete
332,632,biases,cplTest,FITS,"bias duplicate=2 name=""cplTest"" comments=""FITS""",complete
333,633,biases,cplTest,stability new Gen2,"bias duplicate=100 name=""cplTest"" comments=""st...",complete
334,634,biases,cplTest,stalility new Gen2,"bias duplicate=200 name=""cplTest"" comments=""st...",complete
335,10634,test,test,None,None,complete

### fetch `visit_set.pfs_visit_id` for a given `visit_set_id`

#### use opDB instance directly

In [30]:
db = opdb.OpDB(hostname, port, dbname, username, passwd)
db.connect()

In [31]:
df = db.fetch_by_id('visit_set', visit_set_id=10634)

In [32]:
df

   pfs_visit_id  visit_set_id
0        120981         10634
1        120982         10634
2        120983         10634

In [33]:
db.close()

#### or use utils (one-liner usage)

In [34]:
df = utils.fetch_by_id(url, 'visit_set', visit_set_id=10634)

In [35]:
df

   pfs_visit_id  visit_set_id
0        120981         10634
1        120982         10634
2        120983         10634

### fetch exposure information (JOIN `sps_exposure`, `sps_visit`, & `sps_camera`)

#### use opDB instance directly

In [36]:
db = opdb.OpDB(hostname, port, dbname, username, passwd)
db.connect()

In [37]:
df = db.fetch_sps_exposures(pfs_visit_id=120981)

In [38]:
df

   pfs_visit_id exp_type  sps_module_id arm  sps_camera_id
0        120981     test              1   b              1
1        120981     test              1   r              2

In [39]:
db.close()

#### or use utils (one-liner usage)

In [40]:
df = utils.fetch_sps_exposures(url, pfs_visit_id=120981)

In [41]:
df

   pfs_visit_id exp_type  sps_module_id arm  sps_camera_id
0        120981     test              1   b              1
1        120981     test              1   r              2

### fetch `sps_annotation` info for a given `pfs_visit_id` and `sps_camera_id`

#### use opDB instance directly

In [42]:
db = opdb.OpDB(hostname, port, dbname, username, passwd)
db.connect()

In [43]:
df = db.fetch_by_id('sps_annotation', pfs_visit_id=19572, sps_camera_id=1)

In [44]:
df

,pfs_visit_id,sps_camera_id,data_flag,notes
0,19572,1,0,sequence aborted because slit axis was note th...

In [45]:
db.close()

#### or use utils (one-liner usage)

In [46]:
df = utils.fetch_by_id(url, 'sps_annotation', pfs_visit_id=19572, sps_camera_id=1)

In [47]:
df

,pfs_visit_id,sps_camera_id,data_flag,notes
0,19572,1,0,sequence aborted because slit axis was note th...

### insert and update `sps_annotation`

#### use opDB instance directly

In [48]:
db = opdb.OpDB(hostname, port, dbname, username, passwd)
db.connect()

In [49]:
df = pd.DataFrame({'pfs_visit_id': [120982], 
                   'sps_camera_id': [2], 
                   'data_flag': [0],
                   'notes': ['data is strange']
                  })
db.insert('sps_annotation', df)

In [50]:
df = db.fetch_all('sps_annotation')

In [51]:
df

,pfs_visit_id,sps_camera_id,data_flag,notes
0,17687,1,0,just testing SW
1,17687,2,0,another SW test
2,17741,1,0,FPGA still wrong
3,17741,2,0,FPGA still wrong
4,19572,1,0,sequence aborted because slit axis was note th...
5,120982,2,0,data is strange

In [52]:
df = pd.DataFrame({'pfs_visit_id': [120982], 
                   'sps_camera_id': [2], 
                   'data_flag': [0],
                   'notes': ['data is VERY strange']
                  })
db.update('sps_annotation', df)

In [53]:
df = db.fetch_all('sps_annotation')

In [54]:
df

,pfs_visit_id,sps_camera_id,data_flag,notes
0,17687,1,0,just testing SW
1,17687,2,0,another SW test
2,17741,1,0,FPGA still wrong
3,17741,2,0,FPGA still wrong
4,19572,1,0,sequence aborted because slit axis was note th...
5,120982,2,0,data is VERY strange

In [55]:
db.close()

#### or use utils (one-liner usage)

In [56]:
df = pd.DataFrame({'pfs_visit_id': [120982], 
                   'sps_camera_id': [2], 
                   'data_flag': [0],
                   'notes': ['data is strange']
                  })

In [57]:
utils.insert(url, 'sps_annotation', df)

transaction error

0

In [58]:
df = utils.fetch_all(url, 'sps_annotation')

In [59]:
df

,pfs_visit_id,sps_camera_id,data_flag,notes
0,17687,1,0,just testing SW
1,17687,2,0,another SW test
2,17741,1,0,FPGA still wrong
3,17741,2,0,FPGA still wrong
4,19572,1,0,sequence aborted because slit axis was note th...
5,120982,2,0,data is VERY strange

In [60]:
df = pd.DataFrame({'pfs_visit_id': [120982], 
                   'sps_camera_id': [2], 
                   'data_flag': [0],
                   'notes': ['data is VERY strange']
                  })

In [61]:
utils.update(url, 'sps_annotation', df)

0

In [62]:
df = utils.fetch_all(url, 'sps_annotation')

In [63]:
df

,pfs_visit_id,sps_camera_id,data_flag,notes
0,17687,1,0,just testing SW
1,17687,2,0,another SW test
2,17741,1,0,FPGA still wrong
3,17741,2,0,FPGA still wrong
4,19572,1,0,sequence aborted because slit axis was note th...
5,120982,2,0,data is VERY strange

## usage for MCS/PFI

**TBW**

## usage for others

**TBW**